/* reset */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
h2,
h3 {
  text-decoration: none;
}
a:visited,
h2:visited,
h3:visited {
  color: inherit;
}
a:active, a:focus,
h2:active,
h2:focus,
h3:active,
h3:focus {
  outline: none;
}

ol,
li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

img {
  border: none;
  -o-object-fit: contain;
     object-fit: contain;
}

input,
textarea {
  outline: none;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  margin: 0;
}

html,
body {
  line-height: 1;
}

/*----------------*/
.page-wrap {
  position: relative;
}

body {
  font-family: "Lato";
  margin: 0;
  padding: 0;
  background: #140c1f;
}

.page-wrap {
  overflow: hidden;
}

.mob_img {
  display: none;
}

.section {
  width: 1320px;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid rgba(93, 95, 239, 0.2);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

main {
  padding-top: 83px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-left-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  margin: 21px 191px 21px 0;
}

.header__desk-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__desk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__desk li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  position: relative;
}
.header__desk li a {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px 25px 4px 25px;
  border-bottom: 4px solid transparent;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header__desk li a:hover {
  border-bottom: 4px solid #5d5fef;
  color: #5d5fef;
}

span.nav-arr {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/arrow-nav.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 4px 0 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

span.nav-arr_down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header__desk-sub-wrap {
  display: none;
  position: absolute;
  z-index: 999;
  top: 35px;
  left: 0px;
  padding-top: 4px;
}

.header__desk-sub {
  padding: 14px;
  background: #140c1f;
  border: 1px solid rgba(93, 95, 239, 0.2);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}
.header__desk-sub li {
  margin: 0;
}
.header__desk-sub li a {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  padding: 8px 10px;
  border-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-radius: 4px;
  white-space: nowrap;
}
.header__desk-sub li a:hover {
  border-bottom: 0;
  color: #fff;
  background: rgba(93, 95, 239, 0.27);
}

.nav-burger {
  display: none;
  width: 24px;
  height: 18px;
  margin-top: 17px;
}
.nav-burger span {
  position: relative;
  display: block;
  height: 2px;
  background-color: #fff;
  margin-bottom: 6px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.nav-burger span:last-child {
  margin-bottom: 0;
}

.header-right-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__mob {
  display: none;
}

.button {
  border-radius: 10px;
  border: 1px solid #5d5fef;
  background: linear-gradient(91.98deg, rgba(20, 12, 31, 0) -79.88%, rgba(93, 95, 239, 0.2) 36.95%);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-backdrop-filter: blur(17.5px);
          backdrop-filter: blur(17.5px);
  cursor: pointer;
}

.header__contact-us {
  margin: 20px 0;
}
.header__contact-us a {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #5d5fef;
  padding: 11px 40px;
}

.header__socials {
  display: none;
}

.socials {
  background: #140c1f;
  border: 1px solid rgba(93, 95, 239, 0.2);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-pic {
  position: relative;
  z-index: -1;
}

.main-pic__bg {
  position: absolute;
  left: -95px;
  top: 10px;
}

.main-top {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 144px;
  padding-bottom: 135px;
}

.main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 9;
}
.main-title h1 {
  margin-top: 29px;
}

h1 {
  font-weight: 500;
  font-size: 72px;
  line-height: 140%;
  text-transform: uppercase;
  color: #fff;
}

.title-accent {
  color: #5d5fef;
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  margin-top: 30px;
  color: #fff;
  text-transform: capitalize;
}

.main-title__contact-us a {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-top: 50px;
  padding: 15px 105px;
  width: 300px;
  color: #5d5fef;
  white-space: nowrap;
}

.our-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 160px;
  position: relative;
}

h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  padding-left: 10px;
  color: #fff;
  border-left: 4px solid #5d5fef;
  text-transform: uppercase;
}

.job-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  margin-top: 45px;
}

.job-preview__item {
  width: calc(33.3333333333% - 13.3333333333px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 20px;
  border: 1px solid #e2e2e2;
  overflow: hidden;
  height: 382px;
}
.job-preview__item .job-preview__desc-wrap {
  background: #140c1f;
}

.job-preview__thumb {
  overflow: hidden;
  position: relative;
}
.job-preview__thumb img {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.job-preview__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  padding: 5px 31px 36px 35px;
}
.job-preview__desc h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.job-preview__desc p {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}
.job-preview__desc .see-more-btn {
  margin-bottom: -90px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.see-more-btn {
  margin-top: 25px;
  text-align: center;
  width: 300px;
}
.see-more-btn a {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 112px;
  white-space: nowrap;
  color: #fff;
}

.job-preview__item__active {
  background: linear-gradient(91.98deg, rgba(20, 12, 31, 0) -79.88%, rgba(93, 95, 239, 0.2) 36.95%);
  border: 1px solid #5d5fef;
}
.job-preview__item__active .job-preview__desc-wrap {
  margin-top: -90px;
}
.job-preview__item__active .job-preview__desc {
  background: linear-gradient(91.98deg, rgba(20, 12, 31, 0) -79.88%, rgba(93, 95, 239, 0.2) 36.95%);
}

.job-preview__item__active .see-more-btn {
  margin-bottom: 0px;
}

.our-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 160px;
}

.our-advantages-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-advantages__h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  margin-right: 32px;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  margin-top: 39px;
  gap: 12px;
}

.advantages__item {
  width: calc(25% - 3px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages__icon {
  margin-right: 15px;
}

.advantages__body span {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
}
.advantages__body p {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  opacity: 0.5;
}

.technic {
  margin-top: 160px;
  border: 1px solid rgba(93, 95, 239, 0.2509803922);
  border-radius: 10px;
}

.technic-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 59px;
}

.our-works {
  margin-top: 160px;
  position: relative;
}

.works-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.see-more-arrow {
  margin-left: 88px;
}
.see-more-arrow a {
  padding: 15px 70px;
  border: 1px solid #272254;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #5d5fef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.see-more-arrow a img {
  margin-left: 10px;
}

.works-gallery {
  margin-top: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px 21px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works-gallery__item {
  border-radius: 20px;
}

.feedback-form {
  margin-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.feedback-form__left {
  background: linear-gradient(89.5deg, rgba(20, 12, 31, 0) 0.33%, rgba(93, 95, 239, 0.2) 99.14%);
  border-radius: 20px;
}

.feedback-form__right {
  background: linear-gradient(300.41deg, rgba(20, 12, 31, 0) 9.99%, rgba(93, 95, 239, 0.2) 78.76%);
  border-radius: 20px;
  position: relative;
}

.feedback-form__left-wrapper {
  padding: 50px 88px 60px 50px;
  width: 738px;
}

.feedback-form__left,
.feedback-form__right {
  border: 1px solid rgba(93, 95, 239, 0.1019607843);
  border-radius: 20px;
}

.feedback-form__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}
.feedback-form__top h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  width: 340px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.feedback-form__hint {
  width: 246px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #fff;
  opacity: 0.3;
  text-transform: capitalize;
  margin: 42px 0 0 -10px;
}

.feedback-form__middle {
  color: #fff;
}

.feedback-form__middle-item {
  width: 600px;
  margin-bottom: 24px;
}

.feedback-form__label {
  margin-bottom: 16px;
}

.feedback-form__title {
  opacity: 0.5;
  font-weight: 400;
  font-size: 11px;
  line-height: 17px;
  text-transform: uppercase;
}

.feedback-form__asterix {
  color: #dc4a3e;
}

.feedback-form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.feedback-form__input input {
  height: 48px;
}
.feedback-form__input textarea {
  resize: none;
  height: 120px;
}
.feedback-form__input input,
.feedback-form__input textarea {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  width: 100%;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 4px;
  padding: 14px 16px 13px 16px;
  color: #fff;
  opacity: 1;
}

.feedback-form__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}

.feedback-form__send-btn {
  padding: 15px 120px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  cursor: pointer;
}

.feedback-form-pers-data p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#pers-data {
  display: none;
}

.feedback-form-pers-data__check-span {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: inherit;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#pers-data:checked + span {
  background-color: rgba(255, 255, 255, 0.8);
}

.feedback-form-pers-data__text {
  margin-left: 10px;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #fff;
  opacity: 0.5;
}
.feedback-form-pers-data__text a {
  color: #fff;
  text-decoration: underline;
}

.feedback-form_socials {
  position: absolute;
  left: 13px;
  top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding: 40px 18px 39px 19px;
}

footer .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-section {
  margin-top: 160px;
  border-top: 1px solid rgba(93, 95, 239, 0.3);
  border-bottom: 1px solid rgba(93, 95, 239, 0.2);
}

.footer-nav {
  padding: 12px 0;
}
.footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  text-transform: uppercase;
  gap: 40px;
}
.footer-nav ul li a {
  color: rgba(255, 255, 255, 0.3);
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

.footer-bottom__mail {
  margin-top: 39px;
}
.footer-bottom__mail a {
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.3);
}

.footer-bottom__socials {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 37px;
}

footer .section:last-child {
  position: relative;
}

.copyright {
  margin-top: 62px;
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 15px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.3);
}

.bright-spot {
  position: absolute;
  z-index: -1;
}

.bright-spot-1 {
  left: -95px;
  top: -50%;
}

.bright-spot-2 {
  right: -95px;
  bottom: calc(-50% + 44px);
}

.bright-spot-3 {
  left: -95px;
  top: -90%;
}

.bright-spot-4 {
  right: -95px;
  bottom: 0;
}

.fixed {
  position: fixed;
  z-index: 99;
  background: rgba(20, 12, 31, 0.9607843137);
  left: 0;
  right: 0;
  top: 0;
}

span {
  display: inline-block;
}

.animate__animated {
  --animate-duration: 0.7s;
}

.lizard404 {
  padding-left: 278px;
  padding-top: 108px;
  padding-bottom: 340px;
  margin-bottom: -160px;
  position: relative;
}

.bright-spot-404-1 {
  left: -95px;
  top: 0px;
  z-index: -1;
}

.bright-spot-404-2 {
  left: -95px;
  bottom: 0;
  z-index: -1;
}

.bright-spot-404-1,
.bright-spot-404-2 {
  position: absolute;
}

.lizard404__hint {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  width: 328px;
  background: rgba(34, 28, 71, 0.48);
  border: 1px solid rgba(93, 95, 239, 0.3);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  border-radius: 20px;
  padding: 8px;
  text-align: center;
  top: 459px;
  left: 497px;
}

.lizard404__hint__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 140%;
  color: #5d5fef;
  margin-top: 25px;
}

.lizard404__hint__desc {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: #fff;
}

.lizard404__hint__body {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: #ffffff;
  opacity: 0.5;
}

.lizard404__hint__btn-wrap {
  margin-top: 12px;
}

.lizard404__hint__btn {
  width: 154px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #5d5fef;
  margin: 0 auto 25px;
  line-height: 40px;
}

html,
.page-wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body,
main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.section {
  color: #fff;
}

.top-banner {
  position: relative;
  top: 1px;
  left: -95px;
  margin-right: -190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 208px;
}
.top-banner h1 {
  text-align: center;
  padding: 50px 215px;
}

.top-banner_about-us h1,
.blog h1 {
  margin-top: 56px;
  padding: 0 215px;
}

.top-banner_about-us img {
  position: absolute;
  top: 0;
  z-index: -1;
}

.h2-info {
  position: relative;
  margin-top: 96px;
  margin-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.h2-info__item {
  padding: 43px 48px 40px 65px;
  background: #140c1f;
  border: 1px solid rgba(93, 95, 239, 0.3);
  border-radius: 20px;
}

.h2-info__body {
  margin-top: 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner-our-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 96px;
  position: relative;
}

.banner-our-works__pic {
  border-radius: 20px;
  overflow: hidden;
}

.banner-our-works__btn {
  width: 300px;
  margin-top: 50px;
  margin-left: auto;
  white-space: nowrap;
}

.team {
  position: relative;
  margin-top: 96px;
  border-top: 1px solid rgba(93, 95, 239, 0.2);
  padding-top: 20px;
}

.team__deck {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 21px;
}

.team__cart {
  width: calc(25% - 21px);
  background: #140c1f;
  border: 1px solid rgba(93, 95, 239, 0.3);
  border-radius: 20px;
  padding: 24px 33px 31px 35px;
}

.team__cart-photo {
  overflow: hidden;
}

.team__cart-name {
  margin-top: 23px;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;
}

.team__cart-profession {
  font-weight: 400;
  font-size: 24px;
  line-height: 50px;
  text-transform: uppercase;
}

.team__cart:nth-child(odd) {
  margin-bottom: 81px;
}

.team__cart:nth-child(even) {
  margin-top: 81px;
}

.bright-spot-about-us-1 {
  left: -95px;
  top: 0;
}

.bright-spot-about-us-2 {
  top: -100%;
  left: -95px;
}

.wrap {
  position: relative;
  width: 100%;
}

.post-preview {
  margin-top: 50px;
  border-top: 1px solid rgba(93, 95, 239, 0.2);
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 21px;
}

.post-preview__item {
  width: calc(33.3333333333% - 14px);
  background: #140c1f;
  border: 1px solid rgba(93, 95, 239, 0.3);
  border-radius: 20px;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.post-preview__item:hover {
  background: linear-gradient(91.98deg, rgba(20, 12, 31, 0) -79.88%, rgba(93, 95, 239, 0.2) 36.95%);
}

.post-preview__item-pic {
  height: 260px;
}
.post-preview__item-pic a {
  display: block;
  overflow: hidden;
}

.post-preview__item-h2 {
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.01em;
  margin: 28px 30px 25px 30px;
}

.post-preview__item-date {
  margin: 0 57px 48px 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-transform: capitalize;
  opacity: 0.3;
}

.post-preview,
.blog {
  position: relative;
}

.bright-spot-blog-1 {
  top: -30%;
}

.bright-spot-blog-2 {
  bottom: -162px;
}

.portfolio {
  position: relative;
}

.tag {
  border-top: 1px solid rgba(93, 95, 239, 0.2);
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}

.tag__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.tag__item a {
  border: 1px solid rgba(93, 95, 239, 0.3);
  border-radius: 15px;
  padding: 6px 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 100%;
  text-align: center;
}
.tag__item a:hover {
  background: #5d5fef;
}

.project-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 32px;
  position: relative;
}

.project-preview__item {
  width: calc(33.3333333333% - 14px);
  min-height: 240px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.project-preview__item > a {
  height: 100%;
}

.project-preview__thumb {
  height: 100%;
}
.project-preview__thumb img {
  position: absolute;
  z-index: -1;
}

.project-preview__desc-wrap {
  margin-top: auto;
  background-color: #140c1f;
}

.project-preview__desc {
  background: linear-gradient(91.98deg, rgba(20, 12, 31, 0) -79.88%, rgba(93, 95, 239, 0.2) 36.95%);
  height: 0;
  padding: 0 35px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.project-preview__desc h3 {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 50px;
  text-transform: uppercase;
  color: #fff;
}

.project-preview__item:hover {
  background: linear-gradient(91.98deg, rgba(20, 12, 31, 0) -79.88%, rgba(93, 95, 239, 0.2) 36.95%);
}
.project-preview__item:hover .project-preview__desc {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 13px 35px 30px;
}

.project-preview__tag-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
  gap: 5px;
}

.project-preview__tag-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  text-transform: capitalize;
  background: rgba(27, 19, 52, 0.53);
  border-radius: 20px;
  padding: 9px 22px 8px 16px;
}

.pagination {
  margin-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(93, 95, 239, 0.2);
}

.pagination-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination__page-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination__page-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pagination__page-item span {
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  padding: 14px 20px 17px 22px;
}

.pagination-wrap .current span {
  border-radius: 5px;
  background: linear-gradient(89.5deg, rgba(20, 12, 31, 0) 0.33%, rgba(93, 95, 239, 0.2) 99.14%);
  border: 1px solid rgba(93, 95, 239, 0.5);
  color: #5d5fef;
}

.pagination__next,
.pagination__prev {
  width: 30px;
  height: 30px;
  background-image: url(../images/arrow-pagination.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid rgba(255, 255, 255, 0.22);
  border-radius: 5px;
  cursor: pointer;
}

.pagination__prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.feedback-form__portfolio .feedback-form {
  margin-top: 50px;
  margin-bottom: 0;
}

.portfolio .bright-spot-blog-2 {
  bottom: -63px;
}

.top-banner-info {
  min-height: 368px;
  position: relative;
  overflow: hidden;
  margin-left: -95px;
  margin-right: -95px;
}
.top-banner-info img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.top-banner-info h1 {
  margin-top: 64px;
  padding: 0 188px;
  text-align: center;
}

.top-banner-info__wrap {
  margin-top: 26px;
  padding: 0 188px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-banner-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 19px 68px 19px 16px;
  background: rgba(20, 12, 31, 0.56);
  border-radius: 20px;
}

.top-banner-info__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-transform: capitalize;
}

.top-banner-info__body {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  text-transform: capitalize;
}

.portfolio-banner {
  margin-top: 50px;
  width: 1320px;
}

.bright-spot-portfolio-1 {
  left: -95px;
  top: -230%;
}

.similar-projects {
  margin-top: 96px;
}
.similar-projects h2 {
  margin-bottom: 45px;
}

.bright-spot-portfolio-top {
  top: -1054px;
  right: -95px;
}

.bright-spot-portfolio-right {
  top: -630px;
  right: -95px;
}

.portfolio-tmpl-s .top-banner-info h1 {
  margin-top: 20px;
}

.services-banner {
  margin-bottom: 96px;
}

.services-4-blocks {
  margin-bottom: 96px;
}
.services-4-blocks h2 {
  margin-bottom: 44px;
}

.services-4-blocks__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.services-4-blocks__item {
  width: calc(50% - 10px);
  border-radius: 20px;
  background: #140c1f;
  border: 1px solid rgba(93, 95, 239, 0.3);
  overflow: hidden;
}

.services-4-blocks__title {
  margin: 12px 35px 10px;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  text-transform: uppercase;
}

.services-4-blocks__text {
  margin: 0 36px 35px 35px;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}

.technical-exp_icons {
  margin-top: 45px;
  margin-bottom: 96px;
}

.services-4-blocks-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 21px;
  margin-bottom: 96px;
}

.services-4-blocks-thumb__item {
  width: calc(25% - 21px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 35px;
  background: #140c1f;
  border: 1px solid rgba(93, 95, 239, 0.3);
  border-radius: 20px;
}

.services-4-blocks-thumb__pic {
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

.services-4-blocks-thumb__title {
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  text-transform: uppercase;
}

.services-4-blocks-thumb__body {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}

.bright-spot-services-center {
  top: -1350px;
  left: -95px;
}

.h2-info__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.h2-info__text {
  margin-right: 26px;
}

.h2-info__marg {
  margin-bottom: 96px;
}

.our-works_services {
  margin-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-works_services-arrow {
  width: 300px;
  white-space: nowrap;
  margin-top: 50px;
  margin-left: auto;
}

.bright-spot-services-left {
  top: -1200px;
  left: -95px;
}

.services-4-blocks_row .services-4-blocks__item {
  width: calc(25% - 15px);
}

.services-3-blocks_row .services-4-blocks__item {
  width: calc(33.3333333333% - 14px);
}

.h2-info__pdn {
  padding: 42px 148px 42px 65px;
}
.h2-info__pdn .h2-info__body {
  margin: 0;
}

.bright-spot-services-center_up {
  top: -80%;
}

.post h1,
.contacts h1,
.index h1 {
  margin: 56px 0 56px;
  text-align: center;
}

.post_body p,
.contacts_body p {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  margin: 22px 0 22px;
}
.post_body img,
.contacts_body img {
  margin: 45px 0 45px;
}

.bright-spot-blog-bottom {
  top: -650px;
}

.bright-spot-portfolio-m-right {
  right: -95px;
  top: -1100px;
}

.portfolio-tmpl-xs .top-banner-info__wrap {
  margin: 26px 95px;
  padding-bottom: 26px;
  border-bottom: 1px solid rgba(93, 95, 239, 0.2);
}
.portfolio-tmpl-xs .top-banner-info__item {
  border: 1px solid rgba(93, 95, 239, 0.5);
}

.bright-spot-portfolio-xs-left {
  left: -95px;
  bottom: -550px;
}

.contacts_body img {
  border-radius: 20px;
}

.header__logo,
.job-preview__thumb,
.feedback-form__right,
.works-gallery__item,
.services-banner,
.services-4-blocks__pic,
.h2-info__pic_wrap,
.portfolio-banner_img-wrap,
.test {
  overflow: hidden;
}

.header__logo {
  width: 115px;
  height: 38px;
}

.main-pic {
  height: 576px;
  width: 752px;
}

.job-preview__thumb {
  height: 240px;
  width: 427px;
}

.works-gallery__item {
  height: 240px;
}

.works-gallery__item:nth-child(1) {
  width: 426px;
}

.works-gallery__item:nth-child(2) {
  width: 202px;
}

.works-gallery__item:nth-child(3) {
  width: 314px;
}

.works-gallery__item:nth-child(4) {
  width: 315px;
}

.works-gallery__item:nth-child(5) {
  width: 314px;
}

.works-gallery__item:nth-child(6) {
  width: 426px;
}

.works-gallery__item:nth-child(7) {
  width: 538px;
}

.gallery_1 .works-gallery__item:nth-child(1) {
  width: 314px;
}
.gallery_1 .works-gallery__item:nth-child(2) {
  width: 538px;
}
.gallery_1 .works-gallery__item:nth-child(3) {
  width: 426px;
}
.gallery_1 .works-gallery__item:nth-child(4) {
  width: 202px;
}
.gallery_1 .works-gallery__item:nth-child(5) {
  width: 426px;
}
.gallery_1 .works-gallery__item:nth-child(6) {
  width: 314px;
}
.gallery_1 .works-gallery__item:nth-child(7) {
  width: 314px;
}

.gallery_2 .works-gallery__item:nth-child(1) {
  width: 202px;
}
.gallery_2 .works-gallery__item:nth-child(2) {
  width: 426px;
}
.gallery_2 .works-gallery__item:nth-child(3) {
  width: 314px;
}
.gallery_2 .works-gallery__item:nth-child(4) {
  width: 314px;
}
.gallery_2 .works-gallery__item:nth-child(5) {
  width: 314px;
}
.gallery_2 .works-gallery__item:nth-child(6) {
  width: 538px;
}
.gallery_2 .works-gallery__item:nth-child(7) {
  width: 426px;
}

.gallery_3 .works-gallery__item:nth-child(1) {
  width: 314px;
}
.gallery_3 .works-gallery__item:nth-child(2) {
  width: 538px;
}
.gallery_3 .works-gallery__item:nth-child(3) {
  width: 426px;
}

.gallery_4 .works-gallery__item:nth-child(1) {
  width: 202px;
}
.gallery_4 .works-gallery__item:nth-child(2) {
  width: 426px;
}
.gallery_4 .works-gallery__item:nth-child(3) {
  width: 314px;
}
.gallery_4 .works-gallery__item:nth-child(4) {
  width: 314px;
}

.gallery_5 .works-gallery__item:nth-child(1) {
  width: 314px;
}
.gallery_5 .works-gallery__item:nth-child(2) {
  width: 538px;
}
.gallery_5 .works-gallery__item:nth-child(3) {
  width: 426px;
}

.feedback-form__right {
  width: 552px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.services-banner {
  height: 237px;
  width: 1320px;
  border-radius: 20px;
}

.services-4-blocks__pic {
  width: 650px;
  height: 97px;
}

.services-4-blocks__pic_s {
  width: 427px;
  height: 240px;
}

.services-4-blocks-thumb__pic {
  width: 245px;
  height: 61px;
}

.h2-info__pic_wrap {
  width: 385px;
  height: 169px;
  border-radius: 20px;
}

.team__cart-photo {
  width: 246px;
  height: 160px;
  border-radius: 10px;
}

.banner-our-works__pic {
  height: 472px;
}

.project-preview__thumb {
  width: 427px;
  overflow: hidden;
}

.hover {
  background: #5d5fef;
  border-radius: 20px;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #221c48;
}

body::-webkit-scrollbar-thumb {
  background-color: #5d5fef;
  border-radius: 20px;
  border: 2px solid #140c1f;
}

.full_img,
.full_background {
  display: none;
}

.full_background {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(20, 12, 31, 0.9607843137);
  z-index: 999999;
  cursor: pointer;
}

.full_img {
  position: fixed;
  top: 90px;
  left: calc(50% - 660px);
  width: 1320px;
  z-index: 99999999;
}

.full_background-close {
  position: absolute;
  right: 90px;
  top: 20px;
  font-size: 72px;
  color: #fff;
  z-index: 9999999;
  cursor: pointer;
}

.full_for_img {
  cursor: pointer;
}

.single-post h1 {
  margin-top: 56px;
  margin-bottom: 56px;
  text-align: center;
}
.single-post img {
  border-radius: 15px;
}
.single-post .alignright {
  float: right;
  margin-left: 20px !important;
}
.single-post .alignleft {
  float: left;
  margin-right: 20px !important;
}

.feedback-form__form .feedback-form__middle p,
.feedback-form__form .feedback-form__middle .wpcf7-form-control-wrap {
  width: 100%;
}

.feedback-form__send p {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.feedback-form-pers-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback-form__send p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wpcf7-spinner {
  position: absolute;
}

.wpcf7-not-valid {
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid #dc4a3e;
  color: #dc4a3e !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-transition: background-color 600000s 0s, color 600000s 0s;
  transition: background-color 600000s 0s, color 600000s 0s;
}

.wpcf7-form input,
.wpcf7-form textarea {
  font-family: "Lato";
}

.wpcf7-response-output {
  padding: 10px 25px !important;
  border-radius: 10px !important;
  font-size: 14px;
}

.wpcf7-not-valid-tip {
  margin-top: 8px;
}

input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required:focus {
  border: 1px solid #5d5fef;
}